.profile-header{
    background:grey;
}

.user-image{
    float:left;
    width:50px
}
.user-details{
    margin-left:10px;
    float:left;
    width:40%;
}
.email{
    margin-top:-20px;
}
.display-name{
    margin-top:0px;
}
.post{
    float:left;
}
.post-image{
    float:left;
    width:50%;
}
.post-comments{
    float:left;
    width:45%;
    margin-left:10px;
    overflow-wrap: break-word;
    max-height:325px;
    overflow: scroll;

}
strong{
    color:red;
}

.actions{
    width:100%;
    float:left;
}
.comment-input{
    width:75%;
}