<div class="profile-header">  
  <img class='user-image' src="../../../../assets/userAvatar.png">
  <div class='user-details'>
    <h3 class="display-name">priyath saji</h3>
    <p class="email">priyathsaji@gmail.com</p>
  </div>
</div>
<div class="post">
  <img class="post-image" src="../../../../assets/userAvatar.png">
  <div class="post-comments">
    <p><strong>priyath saji: </strong>Very nice picture...</p>
    <p><strong>priyath saji: </strong>Very nice picture...</p>
    <p><strong>priyath saji: </strong>Very nice picture...</p>
    <p><strong>priyath saji: </strong>Very nice picture...</p>
    <p><strong>priyath saji: </strong>Very nice picture...</p>
    <p><strong>priyath saji: </strong>Very nice picture...</p>
    <p><strong>priyath saji: </strong>there something about this something is this something...</p>
  </div>
</div>
<div class="actions">
  <P>300 Likes 400 Comments</P>
  <button mat-icon-button><mat-icon>thumb_up</mat-icon></button>
  <button mat-icon-button><mat-icon>share</mat-icon></button>
  <mat-form-field class="comment-input">
    <input class="comment-input" matInput type="text" placeholder="Add your comment">
  </mat-form-field>
  <button mat-icon-button><mat-icon>send</mat-icon></button>
</div>
