<mat-toolbar color="{{color}}" class="my-toolbar">
  <mat-toolbar-row  *ngIf="!isSearch();else searchbar">
    <span (click)="viewHome()">Fynsta</span>
    <span class="example-spacer"></span>
    <button mat-icon-button ><mat-icon [matMenuTriggerFor]="appMenu">notifications</mat-icon></button>
    <mat-menu class="notification-menu" #appMenu="matMenu" overlapTrigger='false'>
        <button mat-menu-item>Priyath saji shared you a post</button>
        <button mat-menu-item>Friend Request from someone</button>
        <button mat-menu-item>priyath saji shared you a post</button>
        <button mat-menu-item>This is a message from priyath saji</button>
        <button mat-menu-item>This is a message from priyath saji</button>
        <button mat-menu-item>This is a message from priyath saji</button>
        <button mat-menu-item>This is a message from priyath saji</button>
        <button mat-menu-item>This is a message from priyath saji</button>
        <button mat-menu-item>This is a message from priyath saji</button>
        <button mat-menu-item>This is a message from priyath saji</button>
        <button mat-menu-item>This is a message from priyath saji</button>      
    </mat-menu>


    <button mat-icon-button ><img class="profile-pic" (click)="viewMyspace()" [src] ="getPhotoUrl()"></button> 
    <button mat-icon-button class="search-icon"><mat-icon (click)="searchToogle()" >search</mat-icon></button>
    
  </mat-toolbar-row>
</mat-toolbar>


<ng-template #searchbar>
  <mat-toolbar-row style="background-color:white">
    <mat-form-field class="full-width">
      <input matInput (keyup)="suggestions()" [(ngModel)]="searchValue" type="text" [matAutocomplete]='auto'>
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="viewUser($event)">
        <mat-option *ngFor="let result of suggestionResults | async" [value]="result" >
            <span>
                <img src="{{result.photoURL}}" class="suggestion-image">
              </span>
              <span class="suggestion-name">
                {{result.displayName}}
              </span>
        </mat-option>
      </mat-autocomplete>
    <mat-icon (click)="searchToogle()">close</mat-icon>
    </mat-toolbar-row>
  
  </ng-template>
