<mat-card class="profile-header" >
    <div class="something" ><img class="responsive-profile-pic" src="{{profileData.photoURL}}"></div>
    <div class="user-details">
      <h2>{{profileData.displayName}}</h2>
      <h3>{{profileData.email}}</h3>
      <button mat-raised-button [disabled] ='pending'(click)="buttonAction1()" color="primary">Sign Out</button>
      <button (click)="openDialog()" mat-icon-button color="primary"><mat-icon>settings</mat-icon></button>
    </div>
</mat-card>

<ng-template #loading>
    <mat-progress-bar class="loading-bar" mode="indeterminate"></mat-progress-bar>
</ng-template>
<mat-card class="other-info">
  <div class="friends-info"><h1>300</h1><h3>friends</h3></div>
  <div class="post-info"><h1>300</h1><h3>Posts</h3></div>
  <div class="likes-info"><h1>300</h1><h3>Likes</h3></div>
</mat-card>
<div class="tabs">
<mat-tab-group>
  <mat-tab label="Posts">
      <div *ngIf="feeds">
        <span><img class="responsive" *ngFor="let feed of feeds | async" src="{{feed.postDownloadUrl}}"></span>
      </div>
    </mat-tab>
  <mat-tab label="Friends"><app-friends></app-friends></mat-tab>
  <mat-tab label="Shared">Shared content will appear here</mat-tab>
  <mat-tab label="Saved">Your saved content will appear here</mat-tab>
  <mat-tab label="Liked">Liked contents will appear here</mat-tab>
</mat-tab-group>
</div>  
<button mat-fab color="primary" class="floating-button" (click)="upload()"><mat-icon>cloud_upload</mat-icon></button>
  
  
